@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: 'Delicious Handrawn', cursive;
  background-color: #a8d8a7;
  color: #0d3b35;
}

h6{
  font-family: 'Courier New', Courier, monospace;
  font-size: .6rem;
  margin-top: 10px;
}
.wrapper{
  border: 0px solid red;
  width: 500px;
  margin: auto;
  margin-top: 1rem;
  padding-bottom: 2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding-top: 1rem;
}
.litepurple{
  background-color:#dbb8e9 ;
}
.darkpurple{
  background-color: #978b97;
}
.liteblue{
  background-color: #8bb0a6;
}
/*#dbb8e9*/

.heading{
  display: flex;
  justify-content: center;
margin-top: 2rem;
margin-bottom: 1rem;
}
.cont{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.cont input{
  margin-right: 1rem;
  background-color: antiquewhite;
  padding-left: 20px;
}
.cont input,.btn1{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 1rem;
}

.btn2{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: 0px;
  
  font-size: 1rem;

}
.cont input,button:focus{
  outline: 0;

}

.dispcont{
  display: flex ;
  justify-content: center;
  margin-top: 3rem;
}

.dispsection{
  display: flex;
  flex-direction: column;
  
}

h2{
  font-weight: 200;
  text-transform: capitalize;
}

.item{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0px solid grey;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.logo{
  background-color: #8bb0a6;
  
}